<h1>regist</h1>
  
<head>
  <link rel="stylesheet" href="./styleLogin.css">
  <meta charset="UTF-8">
</head>

<img src="https://github.com/DanyWhizzBang/Utileria_TFPrjct/blob/main/logo.png?raw=true" alt="Logo xcaret" class="centered-image" width="400" height="200">
<div class="body"></div>
  <div class="grad"></div>
  <div class="header">
      <div>Todo<span>Fluye</span></div>
  </div>
  <br>
  <div class="login">
          <input id="userName" type="text" placeholder="Usuario" name="user"><br>
          <input id="password" type="password" placeholder="Contraseña" name="password"><br>
          <input id="btnLogin" type="button" value="Ingresar">
  </div>
